{% extends 'bootstrap3/bootstrap3.html' %}

{% load bootstrap3 %}
{% load utils %}
{% load navbar %}

{% block bootstrap3_title %}{% block title %}Escolar{% endblock %}{% endblock %}

{% block bootstrap3_content %}
	<div class='container-fluid'>
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{% url 'home' %}">Escolar</a>
				</div>
				<div class="collapse navbar-collapse" id="main-navbar">
					<ul class="nav navbar-nav">
						{% item request 'home' %}
						{% item request 'contato' %}
					</ul>
                    {% if request.user.is_authenticated %}
					<ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ request.user.get_short_name }}<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{% url 'logout' %}">Sair</a></li>
                            </ul>
                        </li>
					</ul>
                    {% else %}
					<form class="navbar-form navbar-right" action="{% url 'access' %}" method="post">
                        {% csrf_token %}
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Nome de usuário" name="username">
						</div>
						<div class="form-group">
							<input type="password" class="form-control" placeholder="Senha" name="password">
						</div>
						<button type="submit" class="btn btn-default">Acessar</button>
					</form>
                    {% endif %}
				</div>
			</div>
		</nav>
		<ol class="breadcrumb">
			<li>Portal</li>
			{% for path in request.path|split:'/' %}
				<li>{{ path|capfirst }}</li>
			{% endfor %}
		</ol>
		{% bootstrap_messages %}
		{% block content %}
		{% endblock %}
	</div>
{% endblock %}