{% extends 'base.html' %}

{% block content %}
    {% if historicos %}
    <div class="row-fluid">
        <form method="get" class="form-inline" role="form">
            <div class="form-group">
                <label for="aluno">Aluno:</label>
                <div class="input-group">
                    <select name="aluno" id="aluno" class="form-control">
                        <option value="0">Todos</option>
                        {% for aluno in alunos %}
                            <option value="{{ aluno.pk }}">{{ aluno.nome }}</option>
                        {% endfor %}
                    </select>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default btn-info"><span class="glyphicon glyphicon-search"></span> <span class="hidden-xs hidden-sm">Buscar</s
                    </span>
                </div>
            </div>
        </form>
    </div>
    <br/>
    {% endif %}
    <div class="panel panel-info">
        <div class="panel-heading">Histórico dos Alunos</div>
        <div class="panel-body">
            <div class="row-fluid table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Aluno</th>
                            <th>Disciplina</th>
                            <th class="text-center">Faltas</th>
                            <th class="text-center">Abonos</th>
                            <th class="text-center">Nota</th>
                            <th class="text-center">Situação</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for historico in historicos %}
                            <tr>
                                <td>{{ historico.aluno.get_full_name }}</td>
                                <td>{{ historico.disciplina.nome }}</td>
                                <td class="text-center">{{ historico.faltas }}</td>
                                <td class="text-center">{{ historico.abonos }}</td>
                                <td class="text-center">{{ historico.nota }}</td>
                                <td class="text-center">{{ historico.get_situacao }}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="5" class="text-center">Nenhum histórico encontrado</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
