{% extends 'base.html' %}

{% block bootstrap3_extra_script  %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/cursoextensao-arquivo.js"></script>
{% endblock %}

{% block content %}
    <div class="panel panel-info">
        <div class="panel-heading">Monografias</div>
        <div class="panel-body">
            <form method="get">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" value="{{ q }}"/>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default btn-info"><span class="glyphicon glyphicon-search"></span> <span class="hidden-xs hidden-sm">Buscar</span></button>
                    </span>
                </div>
            </form>
            <br/>
            <div class="list-group">
                {% for arquivo in arquivos %}
                    <a href="#" class="list-group-item file-link" data-slug="{{ arquivo.slug }}">
                        <span class="glyphicon glyphicon-file"></span>
                        {{ arquivo.nome }}
                        <span class="badge">{{ arquivo.downloads }}</span>
                    </a>
                {% empty %}
                    <div class="alert alert-info">Nenhuma monografia encontrada</div>
                {% endfor %}
            </div>
            <ul class="pager">
                {% if arquivos.has_previous %}
                    <li><a href="?page={{ arquivos.previous_page_number }}" class="previous">&larr; Anterior</a></li>
                {% else %}
                    <li class="disabled"><a href="#" class="previous">&larr; Anterior</a></li>
                {% endif %}
                <li><a href="#">{{ arquivos.number }}/{{ arquivos.paginator.num_pages }}</a></li>
                {% if arquivos.has_next %}
                    <li><a href="?page={{ arquivos.next_page_number }}" class="next">Próximo &rarr;</a></li>
                {% else %}
                    <li class="disabled"><a href="#" class="next">Próximo &rarr;</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% include "_arquivo_modal.html" %}
{% endblock %}
